
      <footer class="footer" style="padding-top: 0px;">
        <div class="footer-top">
           <div class="container mb-footer-spacing">
              <div class="row">
                 <div class="col-md-2">
                    <div class="footer-menu">
                       <h3>EmiratesTenders</h3>
                       <ul>
                          <li><a href="">Home</a></li>
                          <li><a href="">Services</a></li>
                          <li><a href="">Pricing</a></li>
                          <li><a href="">Contact Us</a></li>
                          <li><a href="">Events</a></li>
                          <li><a href="">About Us</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-md-2">
                    <div class="footer-menu">
                       <h3>Products</h3>
                       <ul>
                          <li><a href="">Projects Intelligence</a></li>
                          <li><a href="">Tender Announcement</a></li>
                          <li><a href="">Consultants /Contractors</a></li>
                          <li><a href="">Analytics & Reports</a></li>
                          <li><a href="">Business News</a></li>
                          <li><a href="">Project Samples</a></li>
                          <li><a href="">Tender Samples</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-md-2">
                    <div class="footer-menu">
                       <h3>Top Sectors</h3>
                       <ul  class="footer-sector">
                          <li><img src="assets/img/footer-icon/oil-gas.png"><a href="#">Oil & Gas</a></li>
                          <li><img src="assets/img/footer-icon/utilies.png"><a href="#">Utilities & Infrastructure</a></li>
                          <li><img src="assets/img/footer-icon/industrial.png"><a href="#">Industrial</a></li>
                          <li><img src="assets/img/footer-icon/transport.png"><a href="#">Transportation</a></li>
                          <li><img src="assets/img/footer-icon/building.png"><a href="#">Building & Construction</a></li>
                          <li><img src="assets/img/footer-icon/services.png"><a href="#">Services</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-md-3 mb-none">
                    <div class="footer-menu">
                       <h3>Resources / Articles</h3>
                       <ul>
                          <li><a href="">Qatar 2020 Projects Updates</a></li>
                          <li><a href="">Top 20 Projects in Abu Dhabi</a></li>
                          <li><a href="">Saudi Red Sea Projects Updates</a></li>
                          <li><a href="">Kuwait Major Oil/Gas Project Released</a></li>
                          <li style="text-align: right;"><a href="">More...</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-md-3">
                    <div class="footer-menu">
                       <h3>Contact Us</h3>
                       <ul class="footer-contact">
                          <li><img src="assets/img/footer-icon/phone.png"><a href="#">+971-2-2045118 / 5119</a></li>
                          <li><img src="assets/img/footer-icon/address.png">Al Sayegh Tower, Hamdan Street, 2nd Floor, Flat 025
                             P.O Box : 2534, Abu Dhabi, United Arab Emirates
                          </li>
                       </ul>
                       <ul class="social-icon">
                          <li>
                             <a href="" style="background: #3B5A9A;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                          </li>
                          <li>
                             <a href="" style="background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
                                "><i class="fa fa-instagram" aria-hidden="true"></i></a>
                          </li>
                          <li>
                             <a href="" style="background: #007AB9;"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                          </li>
                          <li>
                             <a href="" style="background: #2CA718;"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                          </li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="footer-bottom">
           <div class="container mb-footer-spacing">
              <div class="row align-items-center">
                 <div class="col-md-6">
                    <div class="footer-region">
                       <button class="footer-dropdown-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                       Regional Coverage <i class="fa fa-angle-down" aria-hidden="true"></i>
                       </button>
                       <ul class="footer-dropdown" aria-labelledby="dropdownMenuButton1">
                          <li><a href="#">UAE Projects & Tenders</a></li>
                          <li><a href="#">Saudi Arabia Projects</a></li>
                          <li><a  href="#">Qatar Projects & Tenders</a></li>
                          <li><a  href="#">OmanProjects & Tenders</a></li>
                          <li><a  href="#">KuwaitTenders & Projects</a></li>
                          <li><a  href="#">BahrainTenders & Projects</a></li>
                          <li><a  href="#">Middle East Projects </a></li>
                       </ul>
                    </div>
                    <div class="footer-menu trm-menu">
                       <ul class="mb-0">
                          <li class="mb-0"><a href="">Term of Services</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="copy-right">Copyright 2001-2021. All Right Reserved.</div>
                 </div>
              </div>
           </div>
        </div>
     </footer>
