<div id="home" class="main-sec bg-blue">
  <div class="banner-part">
    <div class="banner-part-overlay"></div>
    <div class="container mb-spacing">
      <div class="row tab-column-reverse">
        <div class="col-md-5 mb-fullwidth order-sm-first order-last">
          <div class="banner-txt left-title mb-fullwidth mb-text-center">
            <h2 class="mb-text-left"><span>What</span> We Do</h2>
            <div class="dez-separator-outer mb-text-left">
              <div class="dez-separator bg-secondry style-skew">
                <span class="dot1"></span>
                <span class="dot2"></span>
                <span class="dot3"></span>
              </div>
            </div>
            <p class="mb-text-left">
              EmiratesTenders provides you with the latest business information
              on Projects, Tenders, Enquiries and Business Deals in the United
              Arab Emirates. EmiratesTenders provides you with the latest
              business information on Projects, Tenders, Enquiries and Business
              Deals in the United Arab Emirates.
            </p>
            <a href="#" target="" class="site-button-secondry button-skew m-l10">
              <span>Get A Quote</span><i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-md-7 mb-fullwidth">
          <div class="banner-slider">
            <div class="banner-slider-1">
              <img src="assets/img/slider-1.jpg" class="banner-right-img" />
              <img src="assets/img/slider-2.jpg" class="banner-left-img" />
              <label class="banner-btn-1" id="banner-box-1-1">
                <input type="checkbox" name="banner-box-1-1" />
                <span class="slider-btn">
                  Tender Announcement
                  <div class="check-slider" aria-hidden="true"></div>
                </span>
              </label>
              <label class="banner-btn-2" id="banner-box-1-2">
                <input type="checkbox" name="banner-box-1-2" />
                <span class="slider-btn">
                  Tender Announcement
                  <div class="check-slider" aria-hidden="true"></div>
                </span>
              </label>
            </div>
            <!-- <div class="banner-slider-2">
              <img src="assets/img/project-banner-2.jpg" class="banner-right-img" />
              <img src="assets/img/project-banner-1.jpg" class="banner-left-img" />
              <label class="banner-btn-2" id="banner-box-2-1">
                <input type="checkbox" name="banner-box-2-1" />
                <span class="slider-btn">
                  Project Announcement
                  <div class="check-slider" aria-hidden="true"></div>
                </span>
              </label>
              <label class="banner-btn-1" id="banner-box-2-2">
                <input type="checkbox" name="banner-box-2-2" />
                <span class="slider-btn">
                  Project Announcement
                  <div class="check-slider" aria-hidden="true"></div>
                </span>
              </label>
            </div> -->
            <!-- <div class="banner-slider-3">
              <img src="assets/img/project-banner-3.jpg" class="banner-right-img" />
              <img src="assets/img/project-banner-4.jpg" class="banner-left-img" />
              <label class="banner-btn-2" id="banner-box-3-1">
                <input type="checkbox" name="banner-box-3-1" />
                <span class="slider-btn">
                  Tender Announcement
                  <div class="check-slider" aria-hidden="true"></div>
                </span>
              </label>
              <label class="banner-btn-1" id="banner-box-3-2">
                <input type="checkbox" name="banner-box-3-2" />
                <span class="slider-btn">
                  Project Announcement
                  <div class="check-slider" aria-hidden="true"></div>
                </span>
              </label>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="checkbox-sec ptb-60">
    <div class="container mb-spacing">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2><span>Services</span> We Provide</h2>
            <div class="dez-separator-outer-section">
              <div class="dez-separator-section bg-secondry style-skew">
                <span class="dot1"></span>
                <span class="dot2"></span>
                <span class="dot3"></span>
              </div>
            </div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="service-list">
            <ul>
              <li>
                <div class="service-list-sec">
                  <div class="service-list-icon">
                    <img src="assets/img/service-icons/service-1.png" />
                  </div>
                  <div class="icheck-material-blue">
                    <input type="checkbox" id="Public Tender" />
                    <label for="Public Tender">Public Tender</label>
                  </div>
                </div>
              </li>
              <li>
                <div class="service-list-sec">
                  <div class="service-list-icon">
                    <img src="assets/img/service-icons/service-2.png" />
                  </div>
                  <div class="icheck-material-light-green">
                    <input type="checkbox" id="RFQ/FRQ/EOI" />
                    <label for="RFQ/FRQ/EOI">RFQ/FRQ/EOI</label>
                  </div>
                </div>
              </li>
              <li>
                <div class="service-list-sec">
                  <div class="service-list-icon">
                    <img src="assets/img/service-icons/service-3.png" />
                  </div>
                  <div class="icheck-material-red">
                    <input type="checkbox" id="Project Bidders" />
                    <label for="Project Bidders">Project Bidders</label>
                  </div>
                </div>
              </li>
              <li>
                <div class="service-list-sec">
                  <div class="service-list-icon">
                    <img src="assets/img/service-icons/service-4.png" />
                  </div>
                  <div class="icheck-material-deepblue">
                    <input type="checkbox" id="Project Intelligence" />
                    <label for="Project Intelligence">Project Intelligence</label>
                  </div>
                </div>
              </li>
              <li>
                <div class="service-list-sec">
                  <div class="service-list-icon">
                    <img src="assets/img/service-icons/service-5.png" />
                  </div>
                  <div class="icheck-material-deepgreen">
                    <input type="checkbox" id="Project Analytics" />
                    <label for="Project Analytics">Project Analytics</label>
                  </div>
                </div>
              </li>
              <li>
                <div class="service-list-sec">
                  <div class="service-list-icon">
                    <img src="assets/img/service-icons/service-6.png" />
                  </div>
                  <div class="icheck-material-green">
                    <input type="checkbox" id="Awarded Consultant" />
                    <label for="Awarded Consultant">Awarded Consultant</label>
                  </div>
                </div>
              </li>
              <li>
                <div class="service-list-sec">
                  <div class="service-list-icon">
                    <img src="assets/img/service-icons/service-7.png" />
                  </div>
                  <div class="icheck-material-orange">
                    <input type="checkbox" id="Awarded Contractors" />
                    <label for="Awarded Contractors">Awarded Contractors</label>
                  </div>
                </div>
              </li>
              <li>
                <div class="service-list-sec">
                  <div class="service-list-icon">
                    <img src="assets/img/service-icons/service-8.png" />
                  </div>
                  <div class="icheck-material-bottolgreen">
                    <input type="checkbox" id="Project Key Shakeholders" />
                    <label for="Project Key Shakeholders">Project Key Shakeholders</label>
                  </div>
                </div>
              </li>
              <li>
                <div class="service-list-sec">
                  <div class="service-list-icon">
                    <img src="assets/img/service-icons/service-9.png" />
                  </div>
                  <div class="icheck-material-violet">
                    <input type="checkbox" id="Tender Announcement" />
                    <label for="Tender Announcement">Tender Announcement</label>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="btn-center mt-30">
            <a href="#" data-toggle="modal" data-target="#indexModal"
              class="site-button-secondry opposite-color button-skew m-l10">
              <span>Get Started</span><i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="home-accordian ptb-60">
    <div class="home-accordian-overlay"></div>
    <div class="container mb-spacing">
      <div class="row">
        <div class="col-md-6 mb-none">
          <div class="home-accordian-left-img img-1">
            <img src="assets/img/screen-1.png" />
          </div>
          <div class="home-accordian-left-img img-2">
            <img src="assets/img/screen-2.png" />
          </div>
          <div class="home-accordian-left-img img-3">
            <img src="assets/img/screen-3.png" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="home-accordian-sec">
            <div class="home-accordian-body">
              <div class="accordion" id="accordion" role="tablist">
                <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-1">
                  <ngb-panel id="static-1">
                    <ng-template ngbPanelTitle >
                      <div (click)="accordian($event.currentTarget)" id="heading-1" class="accordian-div border-top-EDBD4F">
                        <span>Projects</span>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel id="static-2">
                    <ng-template ngbPanelTitle>
                      <div (click)="accordian($event.currentTarget)" id="heading-2" class="accordian-div border-top-6CBAB3">
                        <span>Tenders</span>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel id="static-3">
                    <ng-template ngbPanelTitle>
                      <div (click)="accordian($event.currentTarget)" id="heading-3" class="accordian-div border-top-CC2229">
                        <span>Company</span>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>
                <!-- <div class="card-home active">
                  <div class="card-header border-top-EDBD4F" role="tab" id="heading-1">
                    <h6 class="mb-0">
                      <a data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1"
                        data-abc="true" class="collapsed">
                        Projects
                      </a>
                    </h6>
                  </div>
                  <div id="collapse-1" class="collapse show" role="tabpanel" aria-labelledby="heading-1"
                    data-parent="#accordion" style="">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 home-accordion-img">
                        </div>
                        <div class="col-12">
                          <p class="mb-0">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <!-- <div class="card-home">
                  <div class="card-header border-top-6CBAB3" role="tab" id="heading-2">
                    <h6 class="mb-0">
                      <a class="collapsed" data-toggle="collapse" href="#collapse-2" aria-expanded="false"
                        aria-controls="collapse-2" data-abc="true">
                        Tenders
                      </a>
                    </h6>
                  </div>
                  <div id="collapse-2" class="collapse" role="tabpanel" aria-labelledby="heading-2"
                    data-parent="#accordion">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 home-accordion-img">
                          <img class="primg" src="assets/img/screen-2.png" />
                        </div>
                        <div class="col-12">
                          <p class="mb-0">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-home">
                  <div class="card-header border-top-CC2229" role="tab" id="heading-3">
                    <h6 class="mb-0">
                      <a class="collapsed" data-toggle="collapse" href="#collapse-3" aria-expanded="false"
                        aria-controls="collapse-3" data-abc="true">
                        Company
                      </a>
                    </h6>
                  </div>
                  <div id="collapse-3" class="collapse" role="tabpanel" aria-labelledby="heading-3"
                    data-parent="#accordion">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 home-accordion-img">
                          <img class="primg" src="assets/img/screen-3.png" />
                        </div>
                        <div class="col-12">
                          <p class="mb-0">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="counter-section ptb-60">
    <div class="counter-section-overlay"></div>
    <div class="container mb-spacing">
      <div class="row align-items-center">
        <div class="col-md-7 mb-fullwidth mb-text-center">
          <div class="left-title" style="max-width: 580px">
            <h2 class="mb-text-left"><span>Over 4000+</span> Projects</h2>
            <div class="dez-separator-outer mb-text-left">
              <div class="dez-separator bg-secondry style-skew">
                <span class="dot1"></span>
                <span class="dot2"></span>
                <span class="dot3"></span>
              </div>
            </div>
            <p class="mb-text-left">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s. Lorem Ipsum is simply dummy text of the
              printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s
            </p>
            <a href="#" target="" class="site-button-secondry button-skew m-l10">
              <span>Get Started</span><i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-md-5 position-relative mb-fullwidth">
          <div class="project-count-title">
            <h2>
              <span>Leads & </span> Insights
            </h2>
          </div>
          <div class="counter-list">
            <ul>
              <li class="border-8DF7EF ml-60 counter">
                <a target="_blank" href="project-grid-new.html">
                  <img src="assets/img/counter-1.png" />
                  <h3 class="timer count-number" data-to="4000" data-speed="1500">
                    4000+
                  </h3>
                  <p>Projects</p>
                </a>
              </li>
              <li class="border-F5D8DA counter">
                <a target="_blank" href="tender-grid-new.html">
                  <img src="assets/img/counter-2.png" />
                  <h3 class="timer count-number" data-to="273" data-speed="1500">
                    273+
                  </h3>
                  <p>Tenders</p>
                </a>
              </li>
              <div class="clearfix"></div>
              <li class="border-B69FF1 counter">
                <a target="_blank" href="company-grid-new.html">
                  <img src="assets/img/counter-3.png" />
                  <h3 class="timer count-number" data-to="2258" data-speed="1500">
                    2258+
                  </h3>
                  <p>Consultants</p>
                </a>
              </li>
              <li class="border-A9D3F6 counter">
                <a href="#">
                  <img src="assets/img/counter-4.png" />
                  <h3 class="timer count-number" data-to="360" data-speed="1500">
                    360+
                  </h3>
                  <p>Contractors</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
 <!--<section class="video-section">
    <video style="width:100%;height:100%" preload="auto" muted="" loop="" poster="https://dapulse-res.cloudinary.com/video/upload/so_0p/remote_mondaycom_static/video/video-library/Tests - DON'T USE!/hp_animation_with_text_3.jpg" playsinline="" webkit-playsinline="" x5-playsinline="" autoplay=""><source src="https://dapulse-res.cloudinary.com/video/upload/q_auto,f_auto,cs_copy/remote_mondaycom_static/video/video-library/Tests - DON'T USE!/hp_animation_with_text_3.mp4"></video>
    </section> -->
 <section class="industries-sec ptb-60">
    <div class="container mb-spacing">
       <div class="row">
          <div class="col-md-12">
             <div class="section-title">
                <h2><span>Industries</span> We Serve</h2>
                <div class="dez-separator-outer-section">
                   <div class="dez-separator-section bg-secondry style-skew">
                      <span class="dot1"></span>
                      <span class="dot2"></span>
                      <span class="dot3"></span>
                   </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
             </div>
          </div>
          <div class="industry-box row">
             <div class="col-md-4 pl-0 pr-50">
                <div class="industry-list box-left-skew light-violet-border">
                   <a href="">
                      <img src="assets/img/industry-1.png">
                      <div class="industry-list-txt">
                         <h5>Healthcare<br> Building</h5>
                         <p>Lorem Ipsum is simply dummy text of the printing</p>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-md-4">
                <div class="industry-list box-border light-red-border">
                   <a href="">
                      <img src="assets/img/industry-2.png">
                      <div class="industry-list-txt">
                         <h5>Healthcare<br> Building</h5>
                         <p>Lorem Ipsum is simply dummy text of the printing</p>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-md-4 pl-50 pr-0">
                <div class="industry-list box-right-skew light-green-border">
                   <a href="">
                      <img src="assets/img/industry-3.png">
                      <div class="industry-list-txt">
                         <h5>Healthcare<br> Building</h5>
                         <p>Lorem Ipsum is simply dummy text of the printing</p>
                      </div>
                   </a>
                </div>
             </div>
             <div class="clearfix mb-clearfix"></div>
             <div class="col-md-4 pl-50 pr-0">
                <div class="industry-list box-left-bottom-skew light-indigo-border">
                   <a href="">
                      <img src="assets/img/industry-4.png">
                      <div class="industry-list-txt">
                         <h5>Healthcare<br> Building</h5>
                         <p>Lorem Ipsum is simply dummy text of the printing</p>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-md-4">
                <div class="industry-list box-border light-orange-border">
                   <a href="">
                      <img src="assets/img/industry-5.png">
                      <div class="industry-list-txt">
                         <h5>Healthcare<br> Building</h5>
                         <p>Lorem Ipsum is simply dummy text of the printing</p>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-md-4 pl-0 pr-50">
                <div class="industry-list box-right-bottom-skew light-blue-border">
                   <a href="">
                      <img src="assets/img/industry-6.png">
                      <div class="industry-list-txt">
                         <h5>Healthcare<br> Building</h5>
                         <p>Lorem Ipsum is simply dummy text of the printing</p>
                      </div>
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="technology-section">
    <div class="technology-sectiono-overlay"></div>
    <div class="container mb-spacing">
       <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
             <div class="section-title">
                <h2><span>Sectors</span> We Serve</h2>
                <div class="dez-separator-outer-section">
                   <div class="dez-separator-section bg-secondry style-skew">
                      <span class="dot1"></span>
                      <span class="dot2"></span>
                      <span class="dot3"></span>
                   </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
             </div>
          </div>
       </div>
    </div>
    <ul class="technologies-holder marquee" id="marqueelogo">
       <li class="tool pulse-shrink" data-tip="Upstream - Exploration & Production"><a href=""><img src="assets/img/sector-icon/oil-industry.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Mid-stream – Transmission / Transportation / Processing"><a href=""><img src="assets/img/sector-icon/oil-processing.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Down Stream – Refinery;  Storage; Retailing"><a href=""><img src="assets/img/sector-icon/gas-storage.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Power & Alternative Energy"><a href=""><img src="assets/img/sector-icon/Infrastructure-power.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Water"><a href=""><img src="assets/img/sector-icon/utilities-water.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Sewege & Wastewater"><a href=""><img src="assets/img/sector-icon/waste.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Agriculture , Irrigation & Landscaping"><a href=""><img src="assets/img/sector-icon/agriculture.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Manufacturing Facilities"><a href=""><img src="assets/img/sector-icon/facility.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Storage Facilities"><a href=""><img src="assets/img/sector-icon/storage.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Airports"><a href=""><img src="assets/img/sector-icon/airport.png" /></a></li>
    </ul>
    <ul class="technologies-holder marquee2" id="marqueelogo">
       <li class="tool pulse-shrink" data-tip="Marine & Seaports"><a href=""><img src="assets/img/sector-icon/port.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Railways"><a href=""><img src="assets/img/sector-icon/train-station.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Roads"><a href=""><img src="assets/img/sector-icon/highway-sign.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="ICT"><a href=""><img src="assets/img/sector-icon/ict.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Residential & Commerical Spaces"><a href=""><img src="assets/img/sector-icon/residental.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Education , Research & Development"><a href=""><img src="assets/img/sector-icon/research.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Medical & Healthcare"><a href=""><img src="assets/img/sector-icon/healthcare.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Hospitality"><a href=""><img src="assets/img/sector-icon/hospital.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Leisure & Entertainment"><a href=""><img src="assets/img/sector-icon/entertainment.png" /></a></li>
       <li class="tool pulse-shrink" data-tip="Retail Developments"><a href=""><img src="assets/img/sector-icon/retail.png" /></a></li>
    </ul>
 </section>
 <section class="news-section ptb-60" style="
    background: #e8f4ff;
    padding: 60px 0px 60px;
    ">
    <div class="news-overlay"></div>
    <div class="container mbplr0">
       <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
             <div class="section-title">
                <h2><span>Latest</span> News</h2>
                <div class="dez-separator-outer-section">
                   <div class="dez-separator-section bg-secondry style-skew">
                      <span class="dot1"></span>
                      <span class="dot2"></span>
                      <span class="dot3"></span>
                   </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
             </div>
          </div>
          <div class="blog-list row">
             <div class="col-md-6 col-sm-12">
                <div class="blog-item">
                   <div class="blog-item-img">
                      <img src="assets/img/blog-1.jpg">
                   </div>
                   <div class="blog-item-content">
                      <div class="blog-item-txt mb-text-center">
                         <h5 class="mb-text-left">Blog Headline</h5>
                         <p class="blog-date mb-text-left">Feb 14, 2020</p>
                         <p class="mb-text-left">Lorem Ipsum is simply dummy text of the printing</p>
                         <a href="#" target="" class="site-button-secondry button-skew m-l10">
                         <span>Read More</span><i class="fa fa-angle-right"></i>
                         </a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-6 col-sm-12">
                <div class="blog-item">
                   <div class="blog-item-img">
                      <img src="assets/img/blog-2.jpg">
                   </div>
                   <div class="blog-item-content">
                      <div class="blog-item-txt mb-text-center">
                         <h5 class="mb-text-left">Blog Headline</h5>
                         <p class="blog-date mb-text-left">Feb 14, 2020</p>
                         <p class="mb-text-left">Lorem Ipsum is simply dummy text of the printing</p>
                         <a href="#" target="" class="site-button-secondry button-skew m-l10">
                         <span>Read More</span><i class="fa fa-angle-right"></i>
                         </a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-6 col-sm-12">
                <div class="blog-item">
                   <div class="blog-item-img">
                      <img src="assets/img/blog-3.jpg">
                   </div>
                   <div class="blog-item-content">
                      <div class="blog-item-txt mb-text-center">
                         <h5 class="mb-text-left">Blog Headline</h5>
                         <p class="blog-date mb-text-left">Feb 14, 2020</p>
                         <p class="mb-text-left">Lorem Ipsum is simply dummy text of the printing</p>
                         <a href="#" target="" class="site-button-secondry button-skew m-l10">
                         <span>Read More</span><i class="fa fa-angle-right"></i>
                         </a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="exhibition-sec">
    <div class="container mb-spacing">
       <div class="row">
          <div class="col-md-12  ">
             <div class="footer-partner">
                <div class="exhibition-slider">
                   <div class="row">
                      <div class="exhibition-slider-img col-md-4 col-sm-12">
                         <img  src="assets/img/exhibition/exhibition-1.jpg" >
                      </div>
                      <div class="exhibition-slider-txt col-md-8 col-sm-12">
                         <h5>Lorem Ipsum</h5>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                         <a href="#" target="" class="site-button-secondry same-color button-skew m-l10">
                         <span>Get Started</span><i class="fa fa-angle-right"></i>
                         </a>
                      </div>
                   </div>
                </div>
                <div class="exhibition-slider">
                   <div class="row">
                      <div class="exhibition-slider-img col-md-4 col-sm-12">
                         <img  src="assets/img/exhibition/exhibition-2.jpg" >
                      </div>
                      <div class="exhibition-slider-txt col-md-8 col-sm-12">
                         <h5>Lorem Ipsum</h5>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                         <a href="#" target="" class="site-button-secondry same-color button-skew m-l10">
                         <span>Get Started</span><i class="fa fa-angle-right"></i>
                         </a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>

</div>
<app-footer></app-footer>
